// Các màu sắc chính cho chữ, text
$B-Primary: #0078d4;
$B-Secondary: #d45c00;
$B-Success: #498205;
$B-Info: #00b7c3;
$B-Warning: #fa4;
$B-Help: #8378de;
$B-Danger: #d13438;
$B-White: #ffffff;
$B-Dark: #323130;

// Các màu cho nền
$BG-Gray: #faf9f8;
$BG-Gray-Dark: #e1dfdd;
$BG-Gray-Hover: #f3f2f1;

// Các màu đổ bóng
$BX-Shadow-Primary: rgb(0 0 0 / 25%);

// Các màu border
$BD-Border-Primary: #edebe9;

// Font chữ
$FontFamily:"Roboto","Helvetica Neue",sans-serif;